body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #282c34;
}

#resume {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

header {
    text-align: center;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}

.contact {
    margin: 10px 0;
    color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact i {
    margin-right: 5px;
}

a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #f8f9fa;
}
